*{
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: red;
} */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    padding: 10px;


}
.Logo{
    width: 80px;
}
li{
    list-style: none;
    font-size: 20px;
} 
li:hover{
    color: blue;
    cursor: pointer;
}
.menu-container{
    display: flex;
    gap: 15px;
}
.banner-img{
    width: 300px;

}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}
    
.banner-left{
    width: 400px;
    line-height: 2.5;
    /* margin:auto; */
}
/* .banner-right{
    width: 50%;
    margin: auto;
} */
.btn{
    padding: 15px; ;
    border: none;
    color: white;
    cursor: pointer;
    
}

.hire-btn{
    background-color: rgb(11, 116, 116);
}
.project-btn{
    background-color: rgb(34, 214, 109);
}
.title{
    font-size: 45px;
}