*{
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: red;
} */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    padding: 10px;


}
.Logo{
    width: 80px;
}
li{
    list-style: none;
    font-size: 20px;
} 
li:hover{
    color: blue;
    cursor: pointer;
}
.menu-container{
    display: flex;
    gap: 15px;
}